
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5a1e0;
  font-family: sans-serif;
  }
   
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
  }
  
  .sticker{
   width: min(320px, 80vw);   
   height: auto;
   display: block;
   margin: 0 auto;
  }
  
  .container .btn {
    display: flex;
    gap: 25px;
    justify-content: center;
  }
  
  .btn a {
     display: inline-block;
  min-width: 90px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background: #a813ce;
  padding: 10px 25px;
  border-radius: 60px;
  box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
  }
  #petals{
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 0;
}

.container{ position: relative; z-index: 1; }

.petal{
  position: absolute;
  top: -10vh;
  width: 22px;
  height: 22px;
  background-image: url("https://media.discordapp.net/attachments/1287288345545674802/1460246206184685662/8eb4c3c5ffa51b41.png?ex=696637c1&is=6964e641&hm=94af4dddb14ac0844c2e7fccd868be6feafb2f6bdaa54d88aea6e5a4f01f52ca&=&format=webp&quality=lossless"); 
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.9;
  animation: fall linear infinite, sway ease-in-out infinite;
}

@keyframes fall{
  to{ transform: translateY(120vh) rotate(360deg); }
}
@keyframes sway{
  0%,100%{ margin-left: 0; }
  50%{ margin-left: 60px; }
}

.btn a.disabled{
  pointer-events: none;   /* ทำให้คลิกไม่ได้ */
  opacity: .45;
  cursor: not-allowed;
}

.run-btn{
  position: fixed;          /* สำคัญ */
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  transition: left .25s, top .25s; /* ให้เลื่อนไปนุ่ม ๆ */
  z-index: 10;
}

.rainbow-text {
   font-size: 2.5em;
  font-weight: bold;
  background: linear-gradient(90deg, #d80b9e, #b9338d, #8629dd, #3508a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  text-shadow: 2px 2px 10px rgba(255, 192, 203, 0.4);
}
.h2-text {
   font-size: 2.5em;
  font-weight: bold;
  background: linear-gradient(90deg, #3600f8, #516bdd, #56a3ec, #0b0ee2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  text-shadow: 2px 2px 10px rgba(255, 192, 203, 0.4);
}
.heart {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 0;
  background-image: url("https://media.tenor.com/yOtWhfvAa3IAAAAi/i-love-you-i-love-you-so-much.gif"); 
  
  background-size: cover;
  animation: rise 5s linear forwards;
}

@keyframes rise {
  0% {
    transform: translateY(0px) scale(0.8);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scale(1.2);
    opacity: 0;
  }
}


